<footer class="footer">
    <span class="pull-right">
        Este es un proyecto para el departamento de SGIT-SCS creado y desarrollado por Julián Lloris Ramos. Versión en pruebas.
    </span>
    <a href="http://www.schneider-electric.com"> Schneider-Electric Web Site</a>
</footer>
