@{
    ViewBag.Title = "Chartist";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li>
                        <span>Charts</span>
                    </li>
                    <li class="active">
                        <span>Chartist </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Chartist
            </h2>
            <small>Chartist.js is a simple responsive charting library built with SVG.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Basic line chart
                </div>
                <div class="panel-body">
                    <div>
                        <div id="ct-chart1" class="ct-perfect-fourth"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"><line x1="50" x2="50" y1="15" y2="209" class="ct-grid ct-horizontal"></line><line x1="108.75" x2="108.75" y1="15" y2="209" class="ct-grid ct-horizontal"></line><line x1="167.5" x2="167.5" y1="15" y2="209" class="ct-grid ct-horizontal"></line><line x1="226.25" x2="226.25" y1="15" y2="209" class="ct-grid ct-horizontal"></line><line x1="285" x2="285" y1="15" y2="209" class="ct-grid ct-horizontal"></line><line y1="209" y2="209" x1="50" x2="285" class="ct-grid ct-vertical"></line><line y1="176.66666666666666" y2="176.66666666666666" x1="50" x2="285" class="ct-grid ct-vertical"></line><line y1="144.33333333333331" y2="144.33333333333331" x1="50" x2="285" class="ct-grid ct-vertical"></line><line y1="112" y2="112" x1="50" x2="285" class="ct-grid ct-vertical"></line><line y1="79.66666666666666" y2="79.66666666666666" x1="50" x2="285" class="ct-grid ct-vertical"></line><line y1="47.33333333333334" y2="47.33333333333334" x1="50" x2="285" class="ct-grid ct-vertical"></line><line y1="15" y2="15" x1="50" x2="285" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M50,79.667C59.792,68.889,89.167,20.389,108.75,15C128.333,9.611,147.917,25.778,167.5,47.333C187.083,68.889,206.667,138.944,226.25,144.333C245.833,149.722,275.208,90.444,285,79.667" class="ct-line"></path><line x1="50" y1="79.66666666666666" x2="50.01" y2="79.66666666666666" class="ct-point" value="6"></line><line x1="108.75" y1="15" x2="108.76" y2="15" class="ct-point" value="8"></line><line x1="167.5" y1="47.33333333333334" x2="167.51" y2="47.33333333333334" class="ct-point" value="7"></line><line x1="226.25" y1="144.33333333333331" x2="226.26" y2="144.33333333333331" class="ct-point" value="4"></line><line x1="285" y1="79.66666666666666" x2="285.01" y2="79.66666666666666" class="ct-point" value="6"></line></g><g class="ct-series ct-series-b"><path d="M50,112C59.792,101.222,89.167,52.722,108.75,47.333C128.333,41.944,147.917,58.111,167.5,79.667C187.083,101.222,206.667,171.278,226.25,176.667C245.833,182.056,275.208,122.778,285,112" class="ct-line"></path><line x1="50" y1="112" x2="50.01" y2="112" class="ct-point" value="5"></line><line x1="108.75" y1="47.33333333333334" x2="108.76" y2="47.33333333333334" class="ct-point" value="7"></line><line x1="167.5" y1="79.66666666666666" x2="167.51" y2="79.66666666666666" class="ct-point" value="6"></line><line x1="226.25" y1="176.66666666666666" x2="226.26" y2="176.66666666666666" class="ct-point" value="3"></line><line x1="285" y1="112" x2="285.01" y2="112" class="ct-point" value="5"></line></g><g class="ct-series ct-series-c"><path d="M50,144.333C59.792,133.556,89.167,85.056,108.75,79.667C128.333,74.278,147.917,90.444,167.5,112C187.083,133.556,206.667,203.611,226.25,209C245.833,214.389,275.208,155.111,285,144.333" class="ct-line"></path><line x1="50" y1="144.33333333333331" x2="50.01" y2="144.33333333333331" class="ct-point" value="4"></line><line x1="108.75" y1="79.66666666666666" x2="108.76" y2="79.66666666666666" class="ct-point" value="6"></line><line x1="167.5" y1="112" x2="167.51" y2="112" class="ct-point" value="5"></line><line x1="226.25" y1="209" x2="226.26" y2="209" class="ct-point" value="2"></line><line x1="285" y1="144.33333333333331" x2="285.01" y2="144.33333333333331" class="ct-point" value="4"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="50" y="214" width="58.75" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 59px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Monday</span></foreignObject><foreignObject style="overflow: visible;" x="108.75" y="214" width="58.75" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 59px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Tuesday</span></foreignObject><foreignObject style="overflow: visible;" x="167.5" y="214" width="58.75" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 59px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Wednesday</span></foreignObject><foreignObject style="overflow: visible;" x="226.25" y="214" width="58.75" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 59px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Thursday</span></foreignObject><foreignObject style="overflow: visible;" x="285" y="214" width="30" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 30px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Friday</span></foreignObject><foreignObject style="overflow: visible;" y="176.66666666666666" x="10" height="32.333333333333336" width="30"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">2</span></foreignObject><foreignObject style="overflow: visible;" y="144.33333333333331" x="10" height="32.333333333333336" width="30"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">3</span></foreignObject><foreignObject style="overflow: visible;" y="111.99999999999999" x="10" height="32.33333333333333" width="30"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">4</span></foreignObject><foreignObject style="overflow: visible;" y="79.66666666666666" x="10" height="32.33333333333334" width="30"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">5</span></foreignObject><foreignObject style="overflow: visible;" y="47.33333333333334" x="10" height="32.333333333333314" width="30"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">6</span></foreignObject><foreignObject style="overflow: visible;" y="15" x="10" height="32.33333333333334" width="30"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">7</span></foreignObject><foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30"><span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">8</span></foreignObject></g></svg></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Basic pie chart
                </div>
                <div class="panel-body">
                    <div>
                        <div id="ct-chart5" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Gauge chart
                </div>
                <div class="panel-body">
                    <div>
                        <div id="ct-chart6" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Horizontal bar chart
                </div>
                <div class="panel-body">
                    <div>
                        <div id="ct-chart4" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Stacked bar chart
                </div>
                <div class="panel-body">
                    <div>
                        <div id="ct-chart3" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Line chart with area
                </div>
                <div class="panel-body">
                    <div>
                        <div id="ct-chart7" class="ct-major-twelfth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/bundles/chartist/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/chartist/js")

    <script type="text/javascript">

        $(function () {

            // Simple line

            new Chartist.Line('#ct-chart1', {
                labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                series: [
                    [6, 8, 7, 4, 6],
                    [5, 7, 6, 3, 5],
                    [4, 6, 5, 2, 4]
                ]
            }, {
                fullWidth: true,
                chartPadding: {
                    right: 40
                }
            });

            // Simple line

            new Chartist.Line('#ct-chart7', {
                labels: [1, 2, 3, 4, 5, 6, 7, 8],
                series: [[5, 9, 7, 8, 5, 3, 5, 4]
                ]
            }, {
                low: 0,
                showArea: true
            });


            // Stocked bar chart

            new Chartist.Bar('#ct-chart3', {
                labels: ['Q1', 'Q2', 'Q3', 'Q4'],
                series: [
                    [800000, 1200000, 1400000, 1200000],
                    [200000, 400000, 500000, 300000],
                    [300000, 300000, 400000, 600000]
                ]
            }, {
                stackBars: true,
                axisY: {
                    labelInterpolationFnc: function (value) {
                        return (value / 1000) + 'k';
                    }
                }
            }).on('draw', function (data) {
                if (data.type === 'bar') {
                    data.element.attr({
                        style: 'stroke-width: 30px'
                    });
                }
            });


            // Stocked horizontal bar

            new Chartist.Bar('#ct-chart4', {
                labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                series: [
                    [2, 3, 4, 5, 6, 7, 8],
                    [3, 4, 5, 6, 7, 8, 9]
                ]
            }, {
                seriesBarDistance: 10,
                reverseData: true,
                horizontalBars: true,
                axisY: {
                    offset: 70
                }
            });


            // Simple pie chart

            var data = {
                series: [10, 5, 5]
            };

            var sum = function (a, b) { return a + b };

            new Chartist.Pie('#ct-chart5', data, {
                labelInterpolationFnc: function (value) {
                    return Math.round(value / data.series.reduce(sum) * 100) + '%';
                }
            });

            // Gauge chart

            new Chartist.Pie('#ct-chart6', {
                series: [25, 25, 25, 25]
            }, {
                donut: true,
                donutWidth: 60,
                startAngle: 270,
                total: 200,
                showLabel: false
            });

        });
    </script>
}